@import "../custom.scss";
.calculator {
  background-color: $palette4;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

.buttonContainer {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: '100vw';
  flex-wrap: wrap;
  max-width: 100vw;
}

.expectedPointsMessage {
  font-family: 'Times';
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}
