@import "../custom.scss";
.progressVisualFull {
  display: flex;
  background: white;
  height: 5vh;
  width: max(50vw, 300px);
  max-width: 75vw;
  margin-top: 5vh;
}

.progressVisualPart {
  transition: width 1.5s;
  border-radius: 0.5vw;
  background: $palette1;
}
